<form #newVoucher="ngForm" (ngSubmit)="addNewVoucher(newVoucher.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Voucher Name</label>
    <input type="text" class="form-control" name="name" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Price</label>
    <input type="text" class="form-control" name="price" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Quantity</label>
    <input type="text" class="form-control" name="quantity" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Add Voucher</button>
</form>
