<a routerLink="/dashboard/addProduct" class="btn btn-warning">Add Product</a>
<br/>
<br />
<table class="table table-dark table-striped" *ngFor="let item of productData">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.avatar}}</td>
      <td><a routerLink="/dashboard/editProduct/{{item.id}}">Edit</a></td>
    </tr>
  </tbody>
</table>
