<a routerLink="/dashboard/addCategory" class="btn btn-dark">Add Category</a>
<br/>
<br />

<table class="table table-dark table-striped" *ngFor ="let item of categoryData">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.img}}</td>
      <td><a routerLink="/dashboard/editCategory/{{item.id}}">Edit</a></td>
    </tr>
  </tbody>
</table>
